<% @questions.each do |question| %>
  <div>
    <li class="well">
    <%= link_to question_path(question) do %>
      <%= question.title %>
  <% end %>
      <span class="pull-right"><%= time_ago_in_words(question.created_at) %> ago by
        <%= question.user.name %>
      </span>
    </li>
  </div>
  <div id="reputationlinks">
    <% if current_user && !current_user.voted_for?(question) %>
    <%= link_to vote_question_path(question, type: "up"), method: "post" do %>
    <%= fa_icon "arrow-up" %>
    <% end %> |
    <%= link_to vote_question_path(question, type: "down"), method: "post" do %>
    <%= fa_icon "arrow-down" %>
    <% end %> |
    <%= pluralize question.reputation_for(:votes).to_i, "vote" %>
    <% end %>
  </div>
<% end %>
